<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Trello1" verbose="1" >

    <test name="RegressionTrello">
        <classes>
            <class name="trello_tests.TeamCreationTests"/>
            <class name="trello_tests.TeamDeleteTest"/>
            <class name="trello_tests.BoardCreationTests"/>
            <class name="trello_tests.BoardDeleteTest"/>
        </classes>
    </test>
</suite>
